@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,500;1,700&display=swap");

:root {
    --social-link: #aeafae;
    --text-color: #707071;
}

* {
    font-family: "Montserrat", sans-serif;
    margin: 0;
}

::-webkit-scrollbar {
    display: none;
}

.nav-container {
    padding: 5rem 5rem;
}

.nav-row {
    display: flex;
    align-items: center;
    /* justify-content: space-around; */
    padding: 1rem 1rem;
    letter-spacing: 5px;
}

.section-container{
    padding: 0 5rem;
}

hr{
    display: inline-block;
    opacity: 0.8;
    width: 10%;
    /* height: 0.1px; */
    border-radius: 5px;
    background-color: var(--social-link);
}

.social-links-row {
    display: flex;
    align-items: center;
    padding: 0rem 1rem;
}

.social-links {
    padding: 0 1rem;
}

#instagram:hover{
    src: url(/Images/DarkIcons/instagram-icon-dark.svg);
}

.icons {
    padding: 0.5rem 0.5rem;
    width: 30px;
}

.heading-text {
    display: flex;
    flex-direction: column;
    font-size: 30px;
    padding: 0rem 3rem;
    margin-top: 1rem;
    letter-spacing: 1px;
}

.hero {
    display: flex;
    padding: 0rem 5rem;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    margin-top: 2rem;
}

@media only screen and (max-width: 750px){
    .hero {
        display: flex;
        padding: 0rem 1rem;
        flex-direction: row;
        align-items: center;
        justify-content: space-evenly;
        margin-top: 2rem;
        flex-wrap: wrap;
    }
}

.hero-image{
    max-width: 250px;
    border-radius: 5px;

}

.hero-text-column{
    display: flex;
    flex-direction: column;
    padding: 2rem 2rem
}

.hero-text{
    color: var(--text-color);
    margin: 0.5rem 0rem;
    font-size: 16px;
}

.section-heading{
    padding: 2rem 3rem;
    font-size: 22px;
}

.skills-text{
    padding: 0rem 3rem 1rem 3rem;
    width: 50%;
    font-size: 16px;
    color: var(--text-color);
}

.skills-row{
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 1rem 8rem;
    /* flex-wrap: wrap; */
}

.skills-item{
    font-size: 18px;
    /* font-style: italic; */
}

.skills-item:hover{
    color: var(--text-color);
    cursor: pointer;
}

.project-text{
    text-align: center;
    padding: 8rem 0rem;
    font-style: italic;
    font-size: 16px;
    color: var(--text-color);
}

.footer{
    background-color: #1f1f27;
    color: var(--social-link);
    margin-top: 2rem;
    padding: 2rem;
}

.footer-row{
    display: flex;
    justify-content: space-around;
    padding: 0rem 5rem;
}

.cta-text{
    font-size: 16px;
    margin: 1rem 0rem;
    width: 40%;
    letter-spacing: 1px ;
    font-family: "Proxima Nova", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

@media only screen and (max-width: 750px){
    .footer-row{
        flex-direction: column;
        align-items: center;
    }

    .cta-text{
        width: 100%;
    }
}

.footer-links{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}

.email{
    padding-bottom: 5px;
    border-bottom-style: solid;
    border-bottom-width: 2px;
    width: fit-content;
}

.email a {
    text-decoration: none;
    color: var(--social-link);
}

.email:hover{
    color: white;
}

.socials{
    align-items: flex-end;
}



