@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,500;1,500&display=swap");

:root {
  --background-color: #f1f0ea;
  --social-link: #aeafae;
  --text-color: #474448;
}

* {
  font-family: "Montserrat", sans-serif;
  margin: 0;
}

body {
  background-color: var(--background-color);
}

::-webkit-scrollbar {
  display: none;
}

.nav-container {
  padding: 5rem 5rem;
}

.nav-row {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1rem 1rem;
  letter-spacing: 5px;
}

.cv-button {
  text-decoration: none;
  padding: 0.7rem 0.7rem;
  border-radius: 15px;
  border: 1px solid var(--text-color);
  letter-spacing: 1px;
  color: var(--text-color);
  transition: all 0.3s ease-in-out;
  letter-spacing: 5px;
}

.cv-button:hover {
  background-color: var(--text-color);
  color: white;
  transition: all 0.3s ease-in-out;
}

.section-container {
  padding: 0 5rem;
}

hr {
  display: inline-block;
  opacity: 0.8;
  width: 10%;
  /* height: 0.1px; */
  border-radius: 5px;
  background-color: var(--social-link);
}

.social-links-row {
  display: flex;
  align-items: center;
  padding: 0rem 1rem;
}

.social-links {
  padding: 0 1rem;
}

.icons {
  padding: 0.5rem 0.5rem;
  width: 30px;
}

.instagram-dark:hover {
  transition: all 0.5s ease-in-out;
  content: url("/Images/DarkIcons/instagram-icon-dark.svg");
}

.behance-dark:hover {
  content: url("/Images/DarkIcons/behance-icon-dark.svg");
}

.linkedin-dark:hover {
  content: url("/Images/DarkIcons/linkedIn-dark-icon.svg");
}

.heading-text {
  display: flex;
  flex-direction: column;
  font-size: 30px;
  padding: 0rem 3rem;
  margin-top: 1rem;
  letter-spacing: 1px;
  color: var(--text-color);
}

.hero {
  display: flex;
  padding: 0rem 5rem;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
  margin-top: 2rem;
}

@media only screen and (max-width: 750px) {
  .hero {
    display: flex;
    padding: 0rem 1rem;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    margin-top: 2rem;
    flex-wrap: wrap;
  }
}

.hero-image {
  max-width: 250px;
  border-radius: 5px;
}

.hero-text-column {
  display: flex;
  flex-direction: column;
  padding: 2rem 2rem;
}

.hero-text {
  color: var(--text-color);
  margin: 0.5rem 0rem;
  font-size: 16px;
  line-height: 27px;
  width: 90%;
}

.section-heading {
  padding: 2rem 3rem;
  font-size: 22px;
}

.skills-text {
  padding: 0rem 3rem 1rem 3rem;
  /* width: 44%; */
  font-size: 16px;
  line-height: 25px;
  color: var(--text-color);
}

.skills-row {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 1rem 8rem;
  /* flex-wrap: wrap; */
}

.skills-item {
  font-size: 18px;
  /* font-style: italic; */
}

.skills-item:hover {
  color: var(--text-color);
  cursor: pointer;
}

.project-row {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  /* flex-wrap: wrap; */
}

@media only screen and (max-width: 1500px) {
  .project-row {
    flex-wrap: wrap;
  }
}

.u-clearfix:before,
.u-clearfix:after {
  content: " ";
  display: flex;
}

.u-clearfix:after {
  clear: both;
}

.u-clearfix {
  *zoom: 1;
}

.subtle {
  color: #aaa;
}

.card-container {
  margin: 25px;
  position: relative;
  width: 692px;
  cursor: pointer;
  transition: all 0.2s ease-in-out;

}

.card-container:hover {
  cursor: pointer;
  transform: scale(1.007);
  transition: all 0.2s ease-in-out;
}

.card {
  background-color: #fff;
  padding: 30px;
  position: relative;
  box-shadow: 0 0 5px rgba(75, 75, 75, 0.07);
  z-index: 1;
}

.card-body {
  display: inline-block;
  /* float: left; */
  width: 310px;
}

.card-number {
  margin-top: 15px;
}

.card-circle {
  border: 1px solid #aaa;
  border-radius: 50%;
  display: inline-block;
  line-height: 22px;
  font-size: 12px;
  height: 25px;
  text-align: center;
  width: 25px;
}

.card-author {
  display: block;
  font-size: 12px;
  letter-spacing: 0.5px;
  margin: 15px 0 0;
  text-transform: uppercase;
}

.card-title {
  font-family: "Cormorant Garamond", serif;
  font-size: 30px;
  font-weight: 300;
  line-height: 60px;
  margin: 10px 0;
}

.card-description {
  display: inline-block;
  font-weight: 300;
  line-height: 22px;
  margin: 10px 0;
}

.card-read {
  text-decoration: none;
  color: black;
  cursor: pointer;
  font-size: 14px;
  font-weight: 700;
  letter-spacing: 4px;
  margin: 5px 0 20px 0;
  position: relative;
  text-align: left;
  text-transform: uppercase;
}

.right-arrow {
  width: 22px;
  margin-bottom: -7px;
}

.card-tag {
  float: right;
  margin: 5px 0 0;
}

.card-media {
  margin-top: 5rem;
  max-width: 250px;
  float: right;
}

@media only screen and (max-width: 750px) {
  .card-media {
    margin-top: 0;
  }
}

.card-shadow {
  background-color: #fff;
  box-shadow: 0 2px 25px 2px rgba(0, 0, 0, 1), 0 2px 50px 2px rgba(0, 0, 0, 1),
    0 0 100px 3px rgba(0, 0, 0, 0.25);
  height: 1px;
  margin: -1px auto 0;
  width: 80%;
  z-index: -1;
}

.footer {
  background-color: #1f1f27;
  color: var(--social-link);
  margin-top: 2rem;
  padding: 2rem;
}

.footer-row {
  display: flex;
  justify-content: space-around;
  padding: 0rem 5rem;
}

.cta-text {
  font-size: 16px;
  margin: 1rem 0rem;
  width: 40%;
  letter-spacing: 1px;
  font-family: "Proxima Nova", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

@media only screen and (max-width: 750px) {
  .footer-row {
    flex-direction: column;
    align-items: center;
  }

  .cta-text {
    width: 100%;
  }
}

.footer-links {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

.instagram-light:hover {
  content: url("/Images/LightIcons/instagram-icon-light.svg");
}

.behance-light:hover {
  content: url("/Images/LightIcons/behance-icon-light.svg");
}

.linkedin-light:hover {
  content: url("/Images/LightIcons/linkedIn-dark-light.svg");
}

.email {
  padding-bottom: 5px;
  border-bottom-style: solid;
  border-bottom-width: 2px;
  width: fit-content;
}

.email a {
  text-decoration: none;
  color: var(--social-link);
}

.email:hover {
  color: white;
}

.socials {
  align-items: flex-end;
}

/* PROJECT PAGE */

.project-heading {
  padding: 3rem 5rem;
}

.project-description {
  padding: 0rem 8rem;
  letter-spacing: 1px;
  line-height: 25px;
}

.images-column {
  display: flex;
  flex-direction: column;
  padding: 5rem;
}

.blog-container{
  display: flex;
  flex-direction: column;
  /* max-width: 100%; */
}

.blog{
  display: flex;
  flex-direction: row;
  padding-left: 7rem;
  flex-wrap: wrap;
  padding-bottom: 1rem;
}

.blog-flip{
  display: flex;
  flex-direction: row;
  padding-left: 35rem;
  /* flex-wrap: wrap; */
  padding-bottom: 1rem;
}

.blog-cover-image{
  max-width: 400px;
  border-radius: 2px;
}

.blog-heading{
  font-size: 3rem;
  font-weight: bolder;
  /* padding-top: 10rem; */
  padding-left: 5rem;
  padding-bottom: 2rem;
  letter-spacing: 3px;
}

.blog-heading-flip{
  font-size: 3rem;
  font-weight: bolder;
  /* padding-top: 10rem; */
  padding-right: 5rem;
  padding-bottom: 2rem;
  letter-spacing: 3px;
}


.read-more-button{
  text-decoration: none;
  color: black;
  font-size: larger;
  letter-spacing: 3px;
  /* padding-top: 5rem; */
  margin-left: 0.5rem;
}

.flip{
  margin-left: 0;
  margin-right: 0.5rem;
}

.blog-cta-text{
  display: flex;
  /* padding-left: 5rem; */
  flex-direction: column;
  /* flex-wrap: wrap; */
  justify-content: center;
}

.read-more-row{
  display: flex;
  flex-direction: row;
  /* justify-content: space-around; */
  align-items: center;
}

.read-more-line{
  height: 0.02rem;
  width: 170px;
  margin-left: -12px;
  background-color: black;
  border: 0.02rem solid rgb(0, 0, 0);
  text-decoration: none;
  box-shadow: none;
}

.read-more-line-flip{
  height: 0.02rem;
  width: 180px;
  margin-right: -12px;
  background-color: black;
  border: 0.02rem solid rgb(0, 0, 0);
  text-decoration: none;
  box-shadow: none;
}

.hover-underline-animation {
 display: inline-block;
 position: relative;
 color: black;
}

.hover-underline-animation:after {
 content: '';
 position: absolute;
 width: 100%;
 transform: scaleX(0);
 height: 2px;
 bottom: -10px;
 left: 0;
 background-color: black;
 transform-origin: bottom right;
 transition: transform 0.25s ease-out;
}

.hover-underline-animation:hover:after {
 transform: scaleX(1);
 transform-origin: bottom left;
}